@import '../../styles/global/global';

.Typeahead {
  position: relative;
}

.iconWrapper {
  position: relative;
}

.icon {
  position: absolute;
  right: $space-lg;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
}

.iconInput {
  padding-right: 40px;
  box-sizing: border-box;
}
