@import '../../styles/global/global';

.Dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  width: 400px;
  max-width: 80vw;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.top {
  bottom: 100%;
  margin-bottom: $space-sm;
}

.bottom {
  top: 100%;
  margin-top: $space-sm;
}
