@import '../../styles/global/global';

.pillContainer {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  border: 0;
  outline: 0;
}

.tag {
  border-radius: 3px;
}

.pill {
  border-radius: 10px;
}

.clickable {
  cursor: pointer;
}
