@import '../../styles/global/global';

.Grid {
  display: grid;
}

@function grid-repeat($repeat, $stuff: 1fr) {
  $list: ();
  @for $i from 1 through $repeat {
    $list: append($list, $stuff, space);
  }
  @return $list;
}

@mixin grid-repeat($count, $class, $type) {
  @while $count > 0 {
    .#{$class}#{$count} {
      -ms-grid-#{$type}: grid-repeat($count, 1fr);
      grid-template-#{$type}: repeat($count, 1fr);
    }
    $count: $count - 1;
  }
}

@include grid-repeat(24, 'column-', 'columns');
@include grid-repeat(24, 'row-', 'rows');
