$colors: (
  green-100: $color-green-100,
  green-200: $color-green-200,
  green-300: $color-green-300,
  green-400: $color-green-400,
  green-500: $color-green-500,
  green-600: $color-green-600,
  green-700: $color-green-700,
  green-800: $color-green-800,
  green-900: $color-green-900,
  green-1000: $color-green-1000,
  navy-100: $color-navy-100,
  navy-200: $color-navy-200,
  navy-300: $color-navy-300,
  navy-400: $color-navy-400,
  navy-500: $color-navy-500,
  navy-600: $color-navy-600,
  navy-700: $color-navy-700,
  navy-800: $color-navy-800,
  navy-900: $color-navy-900,
  navy-1000: $color-navy-1000,
  yellow-100: $color-yellow-100,
  yellow-200: $color-yellow-200,
  yellow-300: $color-yellow-300,
  yellow-400: $color-yellow-400,
  yellow-500: $color-yellow-500,
  yellow-600: $color-yellow-600,
  yellow-700: $color-yellow-700,
  yellow-800: $color-yellow-800,
  yellow-900: $color-yellow-900,
  yellow-1000: $color-yellow-1000,
  blue-100: $color-blue-100,
  blue-200: $color-blue-200,
  blue-300: $color-blue-300,
  blue-400: $color-blue-400,
  blue-500: $color-blue-500,
  blue-600: $color-blue-600,
  blue-700: $color-blue-700,
  blue-800: $color-blue-800,
  blue-900: $color-blue-900,
  blue-1000: $color-blue-1000,
  pink-100: $color-pink-100,
  pink-200: $color-pink-200,
  pink-300: $color-pink-300,
  pink-400: $color-pink-400,
  pink-500: $color-pink-500,
  pink-600: $color-pink-600,
  pink-700: $color-pink-700,
  pink-800: $color-pink-800,
  pink-900: $color-pink-900,
  pink-1000: $color-pink-1000,
  red-100: $color-red-100,
  red-200: $color-red-200,
  red-300: $color-red-300,
  red-400: $color-red-400,
  red-500: $color-red-500,
  red-600: $color-red-600,
  red-700: $color-red-700,
  red-800: $color-red-800,
  red-900: $color-red-900,
  red-1000: $color-red-1000,
  monochrome-100: $color-monochrome-100,
  monochrome-200: $color-monochrome-200,
  monochrome-300: $color-monochrome-300,
  monochrome-400: $color-monochrome-400,
  monochrome-500: $color-monochrome-500,
  monochrome-600: $color-monochrome-600,
  monochrome-700: $color-monochrome-700,
  monochrome-800: $color-monochrome-800,
  monochrome-900: $color-monochrome-900,
  monochrome-1000: $color-monochrome-1000,
  monochrome-1100: $color-monochrome-1100,
  'black': $color-black,
  'white': $color-white,
);

$color-classes: 'color' 'background-color' 'stroke' 'fill';

@each $key, $value in $colors {
  @include class-repeater($key, $value, $color-classes);
}
