.shadow-elevation-1 {
  box-shadow: 15px 14px 30px 10px rgba(38, 37, 36, 0.05);
}

.shadow-elevation-2 {
  box-shadow: 0px 0px 8px 3px rgba(38, 37, 36, 0.15);
}

.shadow-elevation-3 {
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.08);
}

.shadow-elevation-4 {
  box-shadow: inset 0px 1px 0px $color-monochrome-500;
}

.border-radius-sm {
  border-radius: 8px;
}

.border-radius-md {
  border-radius: 16px;
}

.border-radius-lg {
  border-radius: 24px;
}

.border-radius-full {
  border-radius: 100%;
  overflow: hidden;
}

$borders: $colors;
$border-classes: 'border' 'border-top' 'border-bottom' 'border-left'
  'border-right';

@each $key, $value in $borders {
  @include class-repeater($key, $value, $border-classes, '1px solid');
}
