$spacing: (
  xxs: $space-xxs,
  xs: $space-xs,
  sm: $space-sm,
  md: $space-md,
  lg: $space-lg,
  xl: $space-xl,
  xxl: $space-xxl,
);

$margin-classes: 'margin' 'margin-top' 'margin-bottom' 'margin-left'
  'margin-right';
$padding-classes: 'padding' 'padding-top' 'padding-bottom' 'padding-left'
  'padding-right';

@each $key, $value in $spacing {
  @include class-repeater($key, $value, $margin-classes);
  @include class-repeater($key, $value, $padding-classes);
}
