.Layout {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column-reverse {
  flex-direction: column-reverse;
}

.align--flex-start {
  align-items: flex-start;
}

.align--flex-end {
  align-items: flex-end;
}

.align--center {
  align-items: center;
}

.align--baseline {
  align-items: baseline;
}

.align--stretch {
  align-items: stretch;
}

.justify--flex-start {
  justify-content: flex-start;
}

.justify--flex-end {
  justify-content: flex-end;
}

.justify--center {
  justify-content: center;
}

.justify--space-between {
  justify-content: space-between;
}

.justify--space-around {
  justify-content: space-around;
}

.justify--space-evenly {
  justify-content: space-evenly;
}

.justify--stretch {
  justify-content: stretch;
}

.wrap--nowrap {
  flex-wrap: nowrap;
}

.wrap--wrap {
  flex-wrap: wrap;
}

.wrap--wrap-reverse {
  flex-wrap: wrap-reverse;
}
