@import '../../styles/global/global';

.Checkbox {
  position: relative;
  min-width: 16px;
  min-height: 21px;
  box-sizing: border-box;
  display: block;
}

.checkboxAbled {
  cursor: pointer;
}

.input {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0;
  left: -1000px;
}

.sham {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  border: 2px solid $color-black;
  border-radius: 4px;
  pointer-events: none;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  margin: auto;
}

.shamDisabled {
  background-color: $color-monochrome-500;
  border-color: $color-monochrome-500;
}

.label {
  padding: 3px 0 3px 32px;
}

.labelDisabled {
  color: $color-monochrome-700;
}
