@import '../../styles/global/global';

.table {
}

.tr {
  border-bottom: 1px solid $color-monochrome-500;
  min-height: $space-xl;
  align-items: center;
  padding: $space-md $space-lg;
  margin: 1px 0px;
}

.thead {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $color-monochrome-300;
}
