@import '../../styles/global/global';

.GeoSearch {
  position: relative;
}

.GeoSeachInputContainer {
  position: relative;
}

.GeoSearchInputIcon {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.GeoSearchInput {
  width: 100%;
  padding-right: 42px;
}

.results {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid $color-monochrome-500;
  padding: 6px 0;
}

.result {
  display: block;
  appearance: none;
  border: none;
  padding: 16px 10px;
  background-color: $color-white;
  width: 100%;
  text-align: left;
  cursor: pointer;
  &:hover {
    background-color: $color-monochrome-400;
  }
}
