@import '../../styles/global/global';

.Avatar {
  display: inline-flex;
  overflow: hidden;
}

.small {
  width: 32px;
  height: 32px;
}

.medium {
  width: 60px;
  height: 60px;
}

.large {
  width: 100px;
  height: 100px;
}
