@import '../../styles/global/global';

.trigger {
  width: 100%;
  display: flex;
  appearance: none;
  background-color: transparent;
  border: none;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0;
}
